apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-api
  labels:
    app: order-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-api
  template:
    metadata:
      name: order-api
      labels:
        app: order-api
    spec:
      containers:
        - name: order-api
          image: order-api:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
